-T8
-U
--fail-at-end
--no-transfer-progress
# cache settings
# By default, the cache tries to restore all artifacts for a project preemptively.
# Lazy restore could give significant time by avoiding requesting and downloading unnecessary artifacts
# from the cache. It is beneficial when small changes are a dominating build pattern.
-Dmaven.build.cache.lazyRestore=true
# By default, cache supports the partial restoration of source code state from cached generated
# sources (and potentially more, depending on configuration). It is helpful in a local environment but
# likely unnecessary and adds overhead in continuous integration. To disable, add a command line flag.
-Dmaven.build.cache.restoreGeneratedSources=false